.sticky-top {
  top: -150px;
  transition: 0.5s;
}

.navbar {
  padding: 15px 0;
  font-family: "Space Grotesk", sans-serif;
}

.navbar .navbar-brand {
  color: var(--bs-primary);
  transition: all 0.5s ease-in-out;
}

.navbar .navbar-brand:hover {
  color: var(--bs-dark);
  font-weight: 800;
  filter: drop-shadow(0 -4px 4px var(--bs-primary));
  transform: scale(1.05);
}

.navbar .navbar-nav .nav-link {
  margin-left: 2rem;
  padding: 0.125rem;
  outline: none;
  color: var(--bs-dark);
}

.navbar .navbar-nav .nav-link:hover {
  color: var(--bs-primary);
  background-color: var(--bs-white);
}

.navbar .navbar-nav .nav-link.active,
.navbar .dropdown-toggle:has(+ .dropdown-menu .active) {
  color: var(--bs-primary);
  background-color: var(--bs-white);
  border-bottom: 2px solid var(--bs-primary);
}

.navbar .dropdown-toggle::after {
  border: none;
  content: "\F282";
  font-family: "bootstrap-icons";
  font-weight: 900;
  vertical-align: middle;
  margin-left: 8px;
}

.navbar .dropdown-menu .dropdown-item.active {
  color: var(--bs-white);
  background: var(--bs-primary);
}
.navbar .dropdown-menu .dropdown-item:hover {
  color: var(--bs-white);
  background-color: rgba(from var(--bs-primary) r g b / 0.7);
}

@media (max-width: 1210px) {
  .navbar .navbar-nav .nav-link {
    margin-left: 1rem;
  }
}

@media (max-width: 991.98px) {
  .navbar .navbar-nav .nav-link {
    margin-left: 0;
    padding: 10px 0;
  }
  .navbar .dropdown-toggle:has(+ .dropdown-menu .active) {
    border-bottom: none;
    font-weight: 600;
  }
}

@media (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    border: none;
    margin-top: 0;
    top: 150%;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }

  .navbar .nav-item:hover .dropdown-menu {
    top: 100%;
    visibility: visible;
    transition: 0.5s;
    opacity: 1;
  }
}
