<div>
    @if (galleryImages.status() === 'loading') {
    <vd-placeholder [widthPx]="200"
                    [heightPx]="200"></vd-placeholder>
    } @else if (galleryImages.error()) {
    <vd-error errorMessage="{{galleryImages.error()}}"></vd-error>
    } @else if (galleryImages.content()) {
    <div class="grid">
        @let images = galleryImages.content();
        @for (image of images; track image.id) {
        <section title="{{ image.title }}"
                 class="d-flex flex-column justify-center">
            <vd-image-loader [image]="image"
                             imageSrc="{{storageUrl}}/{{image.image}}">
            </vd-image-loader>
            <div class="text-center">
                <small class="image-title text-truncate">{{ image.title }}</small>
            </div>
        </section>
        }
    </div>
    } @else {
    <vd-empty emptyMessage="No image found"></vd-empty>
    }
</div>