.testimonial-SECTION {
  background-color: var(--vd-white);
  display: block;
  height: 40rem;
  .tsm-card {
    background-color: var(--vd-white);
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    height: 28rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .tsm-avatar {
      text-align: center;
      height: 10rem;
    }
    .tsm-quote {
      font-size: 1.2rem;
      font-style: italic;
      font-weight: 600;
      margin: 1rem 0;
    }
    .tsm-name {
      font-weight: 800;
    }
    .tsm-role {
      font-style: italic;
    }
  }
}
