@if (testimonials) {
<section class="testimonial-section">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
        <div class="text-center mb-10">
            <h2 class="vd-subheading">What Our Users Say</h2>
        </div>
        <owl-carousel-o [options]="customOptions">
            @for (testimonial of testimonials; track testimonial.title; let i = $index) {
            <ng-template carouselSlide>
                <vd-testimonial-feature [testimonial]="testimonial"
                                        [index]="i" />
            </ng-template>
            }
        </owl-carousel-o>
    </div>
</section>
} @else {
<div class="vd-subheading">
    Loading testimonials…
</div>
}