@if (galleryImages.status() === 'loading') {
<vd-placeholder></vd-placeholder>
} @else if (galleryImages.error()) {
<vd-error errorMessage="{{galleryImages.error()}}"></vd-error>
} @else if (galleryImages.content()) {
<div class="text-center">
    @let images = galleryImages.content();
    <ngb-carousel #carousel
                  [interval]="5000"
                  [pauseOnHover]="true"
                  [pauseOnFocus]="true">
        @for (img of images; track img; let i = $index) {
        <ng-template ngbSlide>
            <div class="carousel-caption">
                <h3>{{ img.title }}</h3>
            </div>
            <div class="carousel-image">
                <img ngSrc="{{storageUrl()}}/{{img.image}}"
                     alt="{{img.title}}"
                     height="675"
                     width="1200"
                     priority />
            </div>
        </ng-template>
        }
    </ngb-carousel>
</div>
} @else {
<vd-empty emptyMessage="No video found"></vd-empty>
}