:root {
  --bs-primary: #0d6b68;
  --bs-secondary: #555555;
  --bs-success: #198754;
  --bs-light: lab(94.04% -3.48 -0.68);
  --bs-dark: #03201f;

  --bs-primary-rgb: 13, 107, 104;
  --bs-secondary-rgb: 85, 85, 85;
  --bs-success-rgb: 25, 135, 84;
  --bs-light-rgb: 230, 240, 239;
  --bs-dark-rgb: 3, 32, 31;
}

// .dark-theme {
// }
