:host {
  --anchor-color: rgba(255, 255, 255, 0.5);
  --section-border-color: rgba(256, 256, 256, 0.1);
}
.footer a {
  text-decoration: none !important;
}
.footer .btn.btn-link {
  display: block;
  margin-bottom: 10px;
  padding: 0;
  text-align: left;
  color: var(--anchor-color);
  font-weight: normal;
  transition: 0.3s;
  font-size: 1.2rem;
}

.footer .btn.btn-link:hover {
  color: var(--bs-white);
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\F285";
  font-family: "bootstrap-icons";
  font-weight: 900;
  margin-right: 10px;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 0.875rem;
  border-top: 1px solid var(--section-border-color);
  text-align: center;
  a {
    color: var(--anchor-color);
    font-weight: 800;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: var(--bs-white);
      transform: scale(1.05);
    }
  }
}

.footer .social-icons {
  display: flex;
  padding-top: 0.2rem;
  gap: 0.5rem;
  a {
    display: grid;
    place-items: center;
    height: 2.25rem;
    width: 2.25rem;
    border: 2px solid var(--bs-primary);
    color: var(--bs-primary);
    transition: all 0.5s ease-in-out;
    &:hover {
      color: var(--bs-white);
      background-color: var(--bs-primary);
    }
  }
}
.footer .highlight {
  transition: all 0.3s ease-in-out;
  &:hover {
    filter: drop-shadow(0 -4px 4px var(--bs-white));
  }
}
