<footer class="vd-footer">
   <div class="footer w-full p-4 md:px-8 max-w-7xl mx-auto">
      <section>
         <h4>
            {{ app.title }}
         </h4>
         <p>
            {{ description }}
         </p>

      </section>
      <section>
         <h4>
            Get In Touch
         </h4>
         <div class="footer-contact">
            <p>
               <i class="fa-solid fa-location-dot"></i>
               <label>23 Street, New York, USA</label>
            </p>
            <p>
               <i class="fa-solid fa-phone"></i>
               <label>+012 345 67890</label>
            </p>
            <p>
               <i class="fa-solid fa-envelope"></i>
               <label>info@example.com</label>
            </p>
         </div>
         <div class="footer-social">
            @for (link of socialLinks; track link.label) {
            <a target="_blank"
               rel="noopener noreferrer"
               [href]="link.url"
               [attr.aria-label]="link.label">
               <i class="fa-brands {{ link.icon }}"></i>
            </a>
            }
         </div>
      </section>
      <section>
         <h4>
            Popular Links
         </h4>
         <ul role="navigation"
             class="footer-links">
            @for (item of popularLinks; track item.label) {
            <li>
               <a [routerLink]="item.link"
                  class="footer-link">
                  <i class="fa-solid fa-chevron-right footer-chevron"></i>
                  {{ item.label }}
               </a>
            </li>
            }
         </ul>
      </section>
      <section>
         <h4>
            Our Services
         </h4>
         <ul role="navigation"
             class="footer-links">
            @for (item of services; track item.label) {
            <li>
               <a [routerLink]="item.link"
                  class="footer-link">
                  <i class="fa-solid fa-chevron-right footer-chevron"></i>
                  {{ item.label }}
               </a>
            </li>
            }
         </ul>
      </section>

   </div>
   <div class="text-center pt-2">
      <span>{{ app.title }}</span> &copy; {{ years }}. All Rights Reserved.
      <br class="md:hidden" />
      Designed by <a target="_blank"
         rel="noopener noreferrer"
         [href]="creator.url">{{ creator.title }}</a>
   </div>
</footer>